{% extends "wagtailadmin/generic/base.html" %}
{% load wagtailadmin_tags i18n vue_utils %}

{% get_current_language as LANGUAGE_CODE %}

{% block extra_css %}
    <style>
        .content {
            padding: 0 !important;
            height: 100%;
            width: 100%;
        }

        #ingest-monitor-map {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="ingest-monitor-map"
         data-nodes-api-url="{% url 'nodes_api' %}"
    >
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="module" crossorigin src="{% vue_bundle_url 'ingest-monitor-map' %}"></script>
{% endblock %}
