wagtail==7.1.2
django==5.2.7
dj-database-url==3.0.1
django-extensions==4.1
django-timescaledb==0.2.13
psycopg2==2.9.11
django-environ==0.12.0
django-dbbackup==5.0.0
django-countries==7.6.1
django-countries-geoextent>=0.0.1
django-redis==6.0.0
celery==5.5.3
celery-singleton==0.3.1
django-celery-beat==2.8.1
django-celery-results==2.6.0
channels
daphne
gunicorn==23.0.0
uvicorn[standard]==0.38.0
wagtail-font-awesome-svg==2.0
paho-mqtt==2.1.0
channels-redis==4.3.0
django-vue-utils==0.1.8